<h1>{{ trader }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for balance in trader.balance_set.all %}
    <p>{{ balance.detail_str }}</p>
{% endfor %}
<br>
{% for order in orders %}
    <form action="{% url 'traders:edit_order' order.id %}" method="post">
    {% csrf_token %}
    <a href="{% url 'traders:order_detail' order.id %}">{{ order }}</a>
    <input type="submit" name="cancel" value="Cancel">
    <input type="submit" name="deal" value="Deal">
    Volume <input type="number" name="volume" step="0.00000001" value={{order.available}}>
    Price <input type="number" name="price" step="0.00000001" value={{order.price}}>
    </form>
{% endfor %}
<br>
<p>Create order</p>
<form action="{% url 'traders:create_order' trader.id %}" method="post">
{% csrf_token %}
<p>ETH/BTC</p>
<p>Bid    <input type="checkbox" name="bid" value="0" checked></p>
<p>Price  <input type="number" name="price" step="0.00000001" value="0"></p>
<p>volume <input type="number" name="volume" step="0.00000001" value="0"></p>
<input type="submit" value="Create">
</form>

{% for order in closed_orders %}
    <p><a href="{% url 'traders:order_detail' order.id %}">{{ order }}</a></p>
{% endfor %}